TURSO_DATABASE_URL=libsql://italoplanner-stoccolma.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NjIyMDY3MTYsImlkIjoiMmMzMGNhNWEtZGJjYS00MzU4LThjMjEtNTY4M2Q3YzA0MDg0IiwicmlkIjoiMTU3MzNmMDQtMWFkZS00MGFkLWFmNWEtNzQyOGMyZGZlMDQ4In0.2CXdq0pXnLQsDAEAWGq_-lspYvKXA91juxZRhPzhmWAPau5F_kSFzIHmEF5sd6Fg8UDcC0Hr10aQJrhPVmzPDw